/* Custom Scrollbar Khusus Tabel Bank Data */
#subpage-bank-data .max-h-\[280px\]::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#subpage-bank-data .max-h-\[280px\]::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#subpage-bank-data .max-h-\[280px\]::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}
#subpage-bank-data .max-h-\[280px\]::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
